// Bootstrap core CSS
link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css', rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css', rel='stylesheet')

link(href=`${assetsBasePath}/vendor/font-awesome/css/font-awesome.min.css`, rel='stylesheet', type='text/css')
link(href=`${assetsBasePath}/app/css/sb-admin.css`, rel='stylesheet')

link(href=`${assetsBasePath}/app/css/auth.css`, rel='stylesheet')
